[user]
	email = jojo.ae@hotmail.de
	name = swhalemwo
[credential]
	helper = cache --timeout=3600

# [alias]   
#     diff = diff --submodule=diff

# [diff]
#     ignoreSubmodules = dirty

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
